    /* Sidebar Styling */
    .sidebar {
        background-color: #0f4c64;
        min-height: 100vh;
        padding-top: 20px;
    }

    .sidebar a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 6px 0;
    }

    .sidebar a:hover {
        text-decoration: underline;
    }

    .accordion-button {
        background-color: #0f4c64 !important;
        color: white !important;
        box-shadow: none !important;
    }

    .accordion-body {
        background-color: #0f4c64;
    }


    .accordion-button::after {
        filter: invert(1); /* turns arrow white */
    }

    .accordion-button:not(.collapsed)::after {
        filter: invert(1); /* keeps it white when opened */
    }


    /* Cards */
    .subject-card {
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        background: white;
    }

    .subject-card img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .learn-btn {
        border-radius: 30px;
        border: 1px solid #000;
        background: none;
        padding: 6px 0;
        width: 100%;
    }

    .breadcrumb a {
        text-decoration: none;
        color: #0f4c64;
    }