.navbar {
    background-color: #2C799A;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.logo-img{
    border-radius: 5px;
    margin-left: 10px;
}

.nav-link {
    font-size: 15px;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
    color: white !important;
}

.nav-link:hover {
    color: #164255 !important;
}

.logout-btn {
    font-size: 15px;
    background-color: #164255;   
    color: white;                
    font-weight: bold;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;         
    border: none;                
}

.logout-btn:hover {
    background-color: #164255 !important;
    color: white !important;
    opacity: 1 !important;
    cursor: pointer;
}
