body {
    background: #ffffff;
    font-family: Arial, sans-serif;
}

/* Login Box */
.login-box {
    width: 100%;
    max-width: 420px;
    background-color: #1C5B76;    
    padding: 40px 35px;
    border-radius: 16px;          
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);  
    color: white;                 
}

.login-logo{
    width: 80%;              
    display: block;
    margin-left: auto;
    margin-right: auto;       
    margin-bottom: 20px;
    border-radius: 16px;
}

p{
    color: #ffffff;
}

/* Input fields */
.input-box {
    height: 48px;
    border-radius: 8px;
    border: none;
}

.input-box::placeholder {
    color: #e0e0e0;
}

.form-check-label,
.forgot-link,
.login-box a {
    color: #d9f3ff !important; 
}

.sign-in-btn {
    height: 48px;
    background-color: #0A79A0;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}

.google-btn {
    height: 48px;
    background-color: white;
    color: black;
    border-radius: 8px;
    font-weight: 500;
    border: none;
}

/* Google icon level fix */
.google-btn img {
    vertical-align: middle;
}
